body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    margin: 0 auto;
    background-color: orchid;
}

h1{
    color:green;
    font-weight: 200;
}

#only{
    color: green;
}

.bigger{
    font-size: 5rem;
}

